.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
margin-left: 3rem;
margin-right: 3rem;
    color: #39542F;
  }
  
  .navbarLeft {
    display: flex;
    align-items: center;
  }
  
  .navbarRight {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: auto; 
  }
  
  .link {
    color: #39542F;
    text-decoration: none;
    margin-right: 3rem;
    font-size: 1.2em;
  }
  
  .button{
    padding: 0.5rem 1rem; 
    border: none;
    border-radius: 5px; 
    background-color: #39542F; 
    color: #fff; 
    font-size: 1.2em; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  .button:hover {
    background-color: #0f160d; 
    }